/* .homeSection .header-wrapper {
  position: relative;
}

.homeSection .header-wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
}

.homeSection .header-text {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 2rem;
  color: white;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.homeSection .header-text h1 {
  font-size: 7vw;
  margin: 0;
}

.homeSection .header-text h2 {
  font-size: 3vw;
  font-weight: normal;
  margin: 0;
  margin-top: 1rem;
}

@media (min-width: 768px) {
  .homeSection .header-text h1 {
    font-size: 1.7rem;
  }

  .homeSection .header-text h2 {
    font-size: 0.7rem;
  }
} */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins, sans-serif;
}

body {
    background: #fff;
    color:rgba(14, 1, 1, 0.96);
    padding-top: 80px;
}
/* ----------------------------------------------navbar and logo */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size: 25px;
    font-family: "Poppins", cursive;
    text-decoration: none;
    font-weight: 600;
    color: #1a653d
}

.navbar a {
    font-size: 13px;
    color: black;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
}

.navbar a:hover{
    color: pink

}
/* ---------------------------------------------------------home */
.home{
    height: 40vh;
    display: flex;
    align-items: center;
    padding: 0 10%;
    min-height: calc(100vh - 100px);
}

.home-content {
    background: white;
    max-width: 550px;
    position: relative;
    z-index: 1;
}

.image-container {
    width: 30%;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
  }
  
  .home-content h1 .bold {
    font-weight: bold;
  }
  .home-content h1 .thin {
    font-weight: 100;
  }
  .home-content h3 .thin {
    font-weight: 100;
  }
  
  .image-container img {
    max-width: 100%;
    height: auto;
    filter: brightness(100%);
    animation-name: effect;
    animation-duration: 12s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    margin-left: -150px
  }
  
  @media only screen and (max-width: 768px) {
    .home {
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
    }
    
    .home-content {
      margin-top: 50px;
      max-width: 100%;
      text-align: center;
    }
    /*--------------------------------------------------bird img  */
    .image-container {
      width: 100%;
      position: static;
      margin-top: -100px;
      display: none; /* Hide bird image for screen sizes smaller than 768px width */
    }
    
    .image-container img {
      margin: 0 auto;
      display: block;
    }
  }
  
  @keyframes effect {
    0% {
      filter: brightness(90%);
    }
    25% {
      filter: grayscale(100%);
    }
    50% {
      filter: brightness(50%);
    }
    75% {
      filter: brightness(200%);
    }
    100% {
      filter: brightness(100%);
    }
  }
  
.home-content h1 {
    font-size: 40px;
    font-weight: 700;
    line-height: 1.2;
  }

  .home-content h3 {
    font-size: 24px;
    /* color:rgba(61, 26, 2, 0.818); */
    color: black
  }
  
  .home-content p {
    font-size: 13px;
    margin: 20px 0 40px;
  }
  /* --------------------------------------------------------btn */
  .home-content .btn-box {
    display: flex;
    justify-content: space-between;
    width:345px;
    height:50px;
  }
  
  .btn-box a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background: rgb(240, 240, 234);
    border: 2px solid rgb(240, 240, 234);
    border-radius: 9px;
    font-size: 13px;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
  }
  
  .btn-box a:nth-child(2) {
    background: transparent;
  }